@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --invert: 0;
}

[data-theme='dark'] {
    --foreground-rgb: 221, 220, 215;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 0, 0, 0;
    --invert: 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  margin: 15px 15px 15px 15px;
}

h1, h2 {
  font-weight: bold;
  font-size: x-large;
}


a {
  color: rgb(var(--foreground-rgb));
}

  .logo {
    filter: invert(var(--invert));
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
