@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --invert: 0;
  --brightness: 0;
}

[data-theme='dark'] {
    --foreground-rgb: 221, 220, 215;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 0, 0, 0;
    --invert: 1;
    --brightness: 100;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

footer {
  margin-top: auto;
}

h1, h2 {
  font-weight: bold;
  font-size: x-large;
  background: url('/strokes.png') no-repeat;
  background-size: auto 60%;
  background-position: bottom;
  display: inline;
}


hr {
  border-color: rgb(var(--foreground-rgb));
}


a {
  color: rgb(var(--foreground-rgb));
}

.card-bg {
  background-color: rgb(var(--foreground-rgb));
}

.card-title {
  color: rgb(var(--background-start-rgb));
  font-weight: bold;
}

.card-subtitle {
  color: rgb(var(--background-start-rgb));
}

.card-description {
  color: rgb(var(--background-start-rgb));
}

.card-info {
  color: rgb(var(--background-start-rgb));
}

  .logo {
    filter: invert(var(--invert));
  }

  .banner-logo {
    filter: brightness(var(--brightness));
  }

  .caption {
    color: rgb(var(--foreground-rgb));
    font-weight: bolder;
    font-style: italic;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
